numpy
tensorflow
keras
sklearn
pandas
jira
nltk
unidecode
contractions 
word2number
gensim
alive_progress
matplotlib
tensorflow_hub
tensorflow-text
scikit-plot
kivy
tensorflow-addons
termcolor
rake_nltk
seaborn
texttable
latextable
